$text-color: #fff;
$hover-color: #ff00ee;
$bg-color: #0f0a0a;
$secon-bg-color: #292e33;
$big-font: 2.5rem;
$normal-font: 2rem;
$neon-box-shadow: 0 0 0.5rem #12f7ff;
$h2-font: 3rem;
$font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
  0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3),
  0 0 40px rgba(18, 247, 255, 0.3), 0 0 70px rgba(18, 247, 255, 0.3),
  0 0 80px rgba(18, 247, 255, 0.3), 0 0 100px rgba(18, 247, 255, 0.3),
  0 0 150px rgba(18, 247, 255, 0.3);
