.skills {
  padding-top: 90px;
  padding-bottom: 70px;
}

.main-text {
  text-align: center;
}

.skill-main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.skill-bar {
  margin-bottom: 2.3rem;
}

.skill-main h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.skill-box {
  border: 1px solid $hover-color;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.1);
}

.skill-box p {
  font-size: 16px;
}

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: $bg-color;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: $hover-color;
  border-radius: 25px;
  box-shadow: $hover-color;
}

.skill-bar .bar .html {
  width: 80%;
  animation: html 2s;
}

.skill-bar .bar .css {
  width: 80%;
  animation: css 3s;
}

.skill-bar .bar .javascript {
  width: 70%;
  animation: javascript 4s;
}

.skill-bar .bar .react {
  width: 60%;
  animation: react 5s;
}

.skill-right .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.skill-right .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: $bg-color;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar .html {
  width: 80%;
  animation: html 2s;
}

.skill-bar .bar .css {
  width: 80%;
  animation: css 3s;
}

.skill-bar .bar .javascript {
  width: 70%;
  animation: javascript 4s;
}

.skill-bar .bar .react {
  width: 60%;
  animation: react 5s;
}

.skill-bar .bar .sass {
  width: 70%;
  animation: sass 2s;
}

.skill-bar .bar .redux {
  width: 50%;
  animation: redux 3s;
}

.skill-bar .bar .ckakra {
  width: 60%;
  animation: ckakra 4s;
}

.skill-bar .bar .mobx {
  width: 40%;
  animation: mobx 5s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes redux {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes ckakra {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes mobx {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .skills {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

@media (max-width: 680px) {
  .skill-main {
    display: flex;
    flex-direction: column;
    grid-row-gap: 60px;
    grid-column-gap: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 420px) {
  .skills {
    padding-top: 40px;
  }
}
